.mat-toolbar-single-row {
    z-index: 1;
    justify-content: space-between;
    position: fixed;
    .h-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .user-container{
        display: flex;
        align-items: flex-end;
        button{
            color : #c2185b;
            font-size:medium;
            margin-right: 15px;
        }

        span{
            cursor: pointer;
        }
    }

    img {
        cursor: pointer;
        max-height: 50px;
    }
}