<mat-toolbar color="primary">
  <div class="h-container">
    <img routerLink="" src="../../assets/app-logo.jpg" alt="">
    <p color="basic" *ngIf="user.firstName" routerLink="/office-plan">Map</p>
    <p *ngIf="user.role==='admin'" routerLink="/draw-plan">Draw map</p>
  </div>
  <button *ngIf="!user.firstName" routerLink="/sign-in" routerLinkActive="active" mat-icon-button>
    SIGN IN
  </button>
  <div *ngIf="user.firstName" class="user-container" routerLink="/profile" routerLinkActive="active">
    <button mat-mini-fab color="accent" >
      <span>{{user.firstName[0]}}</span>
    </button>
    <span (click)="onSignOut()" matTooltip="Logout">
      <mat-icon>exit_to_app</mat-icon>
    </span>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>