<div class="sign-in-container">
  <div class="form-container">
    <form [formGroup]="formData" method="post">
      <h2>Restore employee's rigths</h2>
      <div class="info-container">
        <p>You can restore an employee's rights.</p>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter employee's email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" #email>
          <mat-error class="mat-error" *ngIf="this.dataForm.controls['email'].invalid">
            Please enter valid email.
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="onRestoreEmployeeRigths()">RESTORE EMPLOYEE'S RIGTHS</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="true">CANCEL</button>
    </form>
  </div>
</div>