<h1 mat-dialog-title *ngIf="data.user.role==='employee'">Book desk</h1>
<h1 mat-dialog-title *ngIf="data.user.role==='admin' && rectFill ==='green'">Block desk</h1>
<h1 mat-dialog-title *ngIf="data.user.role==='admin' && rectFill ==='gray'">Unblock desk</h1>
<div class="content-container">
  <h4 *ngIf="data.user.role==='employee'">
    Do you want to book desk E{{this.data.currentDesk.id}}?
  </h4>
  <h4 *ngIf="data.user.role==='admin' && rectFill ==='green'">
    Do you want to block desk E{{this.data.rect.id}}?
  </h4>
  <h4 *ngIf="data.user.role==='admin' && rectFill === 'gray'">
    Do you want to unblock desk E{{this.data.rect.id}}?
  </h4>
</div>
<div class="button-container">
  <button mat-raised-button color="primary" *ngIf="data.user.role==='employee'" (click)="onBookDesk()">
    BOOK
  </button>
  <button mat-raised-button color="primary" *ngIf="data.user.role==='admin' && rectFill === 'green'"
    (click)="onBlockDesk()">
    BLOCK
  </button>
  <button mat-raised-button color="primary" *ngIf="data.user.role==='admin' && rectFill === 'gray' "
    (click)="onUblockDesk()">
    UNBLOCK
  </button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">
    CANCEL
  </button>
</div>