.map-container {
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    text-align: -webkit-center;
    background: beige;
    // display: flex;
}

circle {
    cursor: move;
}

.circle-green{
    background-color: green;
}

.svg-container  {
    border: 3px dashed #000;
    background-color: #CCC;
    width: 70%;
    height: 70%;
}

.tooltip {
    display: none;
    position: absolute;
    font-size: 0.75em;
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 2px;
  }
  
.container{
    background-color: rgb(177, 168, 168);
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: baseline;
    h3{
        margin-right: 20px;
    }
}
