.map-container {
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    text-align: -webkit-center;
    background: beige;
    // display: flex;
}

circle {
    cursor: move;
}

.circle-green{
    background-color: green;
}

.svg-container  {
    border: 3px dashed #000;
    background-color: #CCC;
    width: 70%;
    height: 70%;
}
