.map-container {
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    text-align: -webkit-center;
    background: beige;
    display: flex;
    justify-content: space-between;
    > .button-container{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
}

circle {
    cursor: move;
}

.circle-green{
    background-color: green;
}

.svg-container  {
    border: 3px dashed #000;
    background-color: #CCC;
    width: 70%;
    height: 70%;
}
