body {
    opacity: 0.2;
}

.map-container {
    margin: 0 auto;
    padding: 80px 20px 20px 30px;
    display: flex;

    >.button-container {
        display: flex;
        flex-direction: column;
        opacity: 1;
        margin-left: 5px;

        >button {
            margin-bottom: 2px;
        }
    }

    >.sliders {
        margin-left: 60px;
        >.slider-container {
            color: #c2185b;
            >p {
                background-color: aliceblue;
                opacity: 0.8;
                padding: 0;
                margin: 0;
                border-radius: 3px;
            }
        }
    }

}

circle {
    cursor: move;
}

.circle-green {
    background-color: green;
}

.svg-container {
    border: 3px dashed #000;
    background-color: #B0BEC5;
    width: 70%;
    height: 420px;
}

mat-slider {
    width: 20px;
}