<div class="map-container">
  <div *ngIf="userRole=='admin'" class="svg-container" appDraggable #mapTemplate>
    <svg id="dropzone" height="100%" width="100%" (click)="onResizeArea($event)">
    </svg>
  </div>
  <div *ngIf="userRole==='admin'">
    <button (click)="onRegisterEmployees()">Register employes</button>
    <button (click)="onAddDesk()">add seat</button>
    <button (click)="onAddArea()">add area</button>
    <button (click)="onSetUserTemplate()">save template</button>
    <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="100" step="1" min="0" max="800" aria-label="units"
      [(ngModel)]="widthSliderValue" (input)="onWidthChange($event)" [disabled]="disabledSlider"></mat-slider>

    <mat-slider [disabled]="disabledSlider" thumbLabel [displayWith]="formatLabel" tickInterval="100" step="1" min="0"
      max="400" aria-label="units" [(ngModel)]="heightSliderValue" (input)="onHeightChange($event)"></mat-slider>
  </div>
</div>
<div class="map-container ">
  <svg id="userArea" height="100%" width="100%">

  </svg>
</div>