.map-container {
    margin: 0 auto;
    padding: 80px 20px 20px 30px;
    display: flex;
    justify-content: center;

    >.button-container {
        display: flex;
        flex-direction: column;
        opacity: 1;
        margin-right: 5px;

        >button {
            margin-bottom: 2px;
        }
    }

    >.sliders {
        margin-left: 6px;

        >.slider-container {
            color: #c2185b;

            mat-slider {
                width: 20px;
            }

            >p {
                opacity: 0.8;
                padding: 0;
                margin: 0;
                border-radius: 3px;
            }
        }

        >.manipulate-desk {
            display: flex;
            flex-direction: column;
        }
    }
}

.svg-container {
    border: 3px dashed #000;
    background-color: #B0BEC5;
    width: 70%;
    height: 420px;
}