<div class="img-container">
</div>
<div *ngIf="user && user.id" class="history-container">
  <div *ngIf="userBookedDeskHistory && userBookedDeskHistory.length" class="booked-history">
    <h1 *ngIf="user.firstName">{{user.firstName}}'s history.</h1>
    <mat-card *ngFor="let desk of userBookedDeskHistory" class="desk-history">
      <fa-icon [icon]="faChair" class="icon"></fa-icon>
      <div>
        Desk E{{desk.currentDesk.id}} on {{desk.date}}
      </div>
      <div class="desk-status">
        {{ desk.status | titlecase}}
      </div>
      <div *ngIf="desk.status==='upcoming'">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onCheckIn(desk.id)">
            <mat-icon>notifications_off</mat-icon>
            <span>Checked in</span>
          </button>
          <button mat-menu-item (click)="onUnbookDesk(desk.id)">
            <mat-icon>dialpad</mat-icon>
            <span>Unbook</span>
          </button>
        </mat-menu>
      </div>
    </mat-card>
  </div>
  <div class="info-container">
    <h1>Your space.</h1>
    <h1>Your time</h1>
    <h4>Make flexible working work for you. Find workspaces that suit your plans and reserve them in moments.</h4>
  </div>
</div>

<div class="home-container">
  <div class="text-container">
    <p>DESK MANAGEMENT AND RESERVATION SOFTWARE</p>
    <h1>Desk booking software for a flexible workspace </h1>
    <p>Designed to help you manage workstations and make the office more accessible for everyone, making for a simple
      return to work.</p>
    <div class="benefit-container">
      <div>
        <img src="../../assets/efortless.svg" alt="">
        <h5>EFORTLESS</h5>
        <p>Ditch the spreadsheets and hours of manual work</p>
      </div>
      <div>
        <img src="../../assets/intuative.svg" alt="">
        <h5>INTUITIVE</h5>
        <p>Make it easy to find and book desks, even as your workplace changes</p>
      </div>
      <div>
        <img src="../../assets/adaptive.svg" alt="">
        <h5>ITERATIVE</h5>
        <p>Adapt your office space using desk utilization data</p>
      </div>
    </div>
  </div>
  <img src="../../assets/home-img.png" alt="">
</div>