.img-container {
    height: 200px;
    background-image: url("../../assets/office.jpg");
    background-position: left;
}

.history-container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    padding: 20px;
    margin: 0 auto;

    .booked-history {
        padding: 30px;
        max-height: 400px;
        overflow: auto;

        >h1 {
            color: aliceblue;
        }

        .desk-history {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .icon {
                margin-right: 3px;
            }

            .desk-status {
                margin-left: 10px;
            }
        }
    }
}

.home-container {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;

    >.text-container {
        max-width: 525px;

        >p {
            color: gray;
        }

        >h1 {
            color: aliceblue;
            line-height: 62px;
            font-weight: 700;
            font-size: 24px;
        }

    }

    >img {
        max-width: 430px;
        max-height: 430px;
        border-radius: 10px;
    }

    .benefit-container {
        display: flex;

        >div {
            margin-top: 120px;

            >h5 {
                color: aliceblue;
            }

            >p {
                color: #c3155c;
            }

            >img {
                background: aliceblue;
                border-radius: 5px;
            }
        }
    }
}