.img-container {
    height: 200px;
    background-image: url("../../assets/office.jpg");
    background-position: left;
}

.history-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 0 auto;
    flex-wrap: wrap-reverse;

    .booked-history {
        padding: 30px;
        max-height: 400px;

        overflow: auto;

        >h1 {
            color: #673ab7;
        }

        .desk-history {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .icon {
                margin-right: 3px;
            }

            .desk-status {
                margin-left: 10px;
            }
        }

    }

    >.info-container {
        max-width: 430px;

        >h1 {
            color: #673ab7;
            margin: 0;
            font-weight: 700;
        }

        >h4 {
            margin-top: 10px;
            color: #673ab7;
        }

    }
}

.home-container {
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
    flex-wrap: wrap-reverse;


    >.text-container {
        max-width: 525px;

        >p {
            color: gray;
        }

        >h1 {
            color: #673ab7;
            line-height: 62px;
            font-weight: 700;
            font-size: 24px;
        }

    }

    >img {
        max-width: 430px;
        max-height: 430px;
        border-radius: 10px;
    }

    .benefit-container {
        display: flex;

        >div {
            margin-top: 120px;

            >h3 {
                color: #673ab7;
            }

            >p {
                color: #673ab7;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #673ab7;
    border-radius: 10px;
}